#
# Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
#
# SPDX-License-Identifier: (GPL-2.0+ OR MIT)
#
if ARCH_ROCKCHIP

menuconfig RKFLASH
	tristate "Rockchip Flash Devices Support"
	default n
	help
	  Enable rockchip flash devices support.
	  rkflash driver support 3-type flash devices: NANDC NAND, SFC_NOR
	  and SFC_NAND.
	  Say Y when you have a board with one of them.

if RKFLASH

comment "Rockchip Flash Devices"

config RKSFC_NOR
	bool "Rockchip SFC NOR flash support"
	depends on BLK
	help
	  This option enables support for Rockchip SFC nor devices.
	  It's block interface.
	  512Kb/sector.
	  Say y here to enable rockchip spi nor flash driver.

endif # RKFLASH

endif # ARCH_ROCKCHIP
