if TARGET_MESON_AXG

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "axg_s400_v1_sbr"

config SYS_VENDOR
	string
	default "amlogic"

config SYS_SOC
	string
	default "axg"

config SYS_CONFIG_NAME
	default "axg_s400_v1_sbr"

endif
