if ROCKCHIP_RK3588

config TARGET_EVB_RK3588
	bool "EVB_RK3588"
	select BOARD_LATE_INIT
	help
	  RK3588 EVB is a evaluation board for Rockchp RK3588.

config TARGET_ODROID_M2
	bool "ODROID-M2"
	select BOARD_LATE_INIT
	help
	  Hardkernel's ODROID-M2 SBC board for Rockchp RK3588S.

config SYS_SOC
	default "rockchip"

config SYS_MALLOC_F_LEN
	default 0x400

source board/rockchip/evb_rk3588/Kconfig
source board/hardkernel/odroid-m2/Kconfig

endif
