if TARGET_ODROID_M1S

config SYS_BOARD
	default "odroid-m1s"

config SYS_VENDOR
	default "hardkernel"

config SYS_CONFIG_NAME
	default "odroid-m1s"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
