if TARGET_ODROIDGO3

config SYS_BOARD
	default "odroidgo3"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "odroidgo3"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
