config IRQ
	bool "IRQ support"
	depends on GICV2 || GICV3
	default y
	help
	  Provide IRQ support for platforms

config IRQ2GPIO_V2
	bool "Enable irq to gpio v2 transfer"
	depends on IRQ
	help
	  Some platform with new GPIO IP implements the low/high
	  registers with write mask. This configure handles it.
