if TARGET_MESON_G12B

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "g12b_w400_v1"

config SYS_VENDOR
	string
	default "amlogic"

config SYS_SOC
	string
	default "g12b"

config SYS_CONFIG_NAME
	default "g12b_w400_v1"

endif
