if TARGET_ODROIDGOA

config SYS_BOARD
	default "odroidgoa"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "odroidgoa"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
