if TARGET_ODROIDGO2

config SYS_BOARD
	default "odroidgo2"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "odroidgo2"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
