// SPDX-License-Identifier:     GPL-2.0+
/*
 * (C) Copyright 2018 Rockchip Electronics Co., Ltd
 *
 */

/dts-v1/;
#include "rk1808.dtsi"
#include "rk1808-u-boot.dtsi"
#include <dt-bindings/input/input.h>
#include <linux/media-bus-format.h>

/ {
	model = "Rockchip RK1808 EVB";
	compatible = "rockchip,rk1808-evb", "rockchip,rk1808";

	chosen {
		stdout-path = &uart2;
	};

	xin24m: xin24m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "xin24m";
	};
};

&emmc {
	fifo-mode;
	bus-width = <8>;
	cap-mmc-highspeed;
	supports-emmc;
	disable-wp;
	non-removable;
	num-slots = <1>;

	status = "okay";
};

&sdmmc {
	supports-sd;
	status = "disabled";
};

&uart2 {
	clock-frequency = <24000000>;
	clocks = <&xin24m>, <&xin24m>;
	clock-names = "baudclk", "apb_pclk";

	status = "okay";
};
