/*
 * (C) Copyright 2020 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

/ {
	aliases {
		mmc0 = &emmc;
		mmc1 = &sdmmc;
	};

	chosen {
		stdout-path = &uart2;
	};
};

&uart2 {
	clock-frequency = <24000000>;
	u-boot,dm-spl;
};

&sdmmc {
	u-boot,dm-spl;
};

&emmc {
	u-boot,dm-spl;
};

&pmu {
	u-boot,dm-spl;
};

&pmugrf {
	u-boot,dm-spl;
};

&pmucru {
	u-boot,dm-spl;
};

&cru {
	u-boot,dm-spl;
};

&grf {
	u-boot,dm-spl;
};
