/*
 * (C) Copyright 2022 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

/ {
	aliases {
		mmc1 = &sdmmc;
		mmc0 = &emmc;
	};

	chosen {
		stdout-path = &uart2;
		u-boot,spl-boot-order = &sdmmc, &spi_nor, &spi_nand, &emmc;
	};
};


&emmc {
	mmc-ecsd = <0x0020f000>;
	u-boot,dm-spl;
	status = "okay";
};

&cru {
	u-boot,dm-spl;
	status = "okay";
};

&gmac {
	u-boot,dm-spl;
	status = "okay";
};

&grf {
	u-boot,dm-spl;
	status = "okay";
};

&mdio {
	u-boot,dm-spl;
	status = "okay";
};

&rmii_phy {
	u-boot,dm-spl;
	status = "okay";
};

&sdmmc {
	u-boot,dm-spl;
	status = "okay";
};

&crypto {
	u-boot,dm-spl;
	clocks = <&cru CLK_CORE_CRYPTO>, <&cru CLK_PKA_CRYPTO>;
	clock-frequency = <300000000>, <300000000>;
	status = "okay";
};

&rng {
	u-boot,dm-spl;
	status = "okay";
};

&saradc {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sfc {
	u-boot,dm-spl;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	spi_nand: flash@0 {
		u-boot,dm-spl;
		compatible = "spi-nand";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <80000000>;
	};

	spi_nor: flash@1 {
		u-boot,dm-spl;
		compatible = "jedec,spi-nor";
		label = "sfc_nor";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <100000000>;
	};
};
