# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Notice, that the "Number of sectors" is ignored on NOR.

# MTD device name	Device offset	Env. size	Flash sector size	Number of sectors
#/dev/mtd0		0x0000		0x2000		0x2000  (M3 verify: no NAND MTD)
#/dev/mtd4		0x0000		0x2000		0x2000  

# NAND example
#AML env location is specified in Uboot board config .h file
# and kernel also need reserve the same area in kernel board config .h file
#/dev/mtd2		0x0000		0x2000		0x40000			8   
/dev/mtd1		0x0000		0x2000		0x100000			2    

#MMC/SD device blockindex: 0x800, total: 0x10 blocks
#/dev/cardblksd  0x100000  0x2000 0x2000 