CONFIG_BASE_DEFCONFIG="rk3568_defconfig"
# CONFIG_CMD_MTD_BLK is not set
# CONFIG_CMD_MTD is not set
# CONFIG_CMD_NAND is not set
CONFIG_CMD_RKNAND=y
# CONFIG_DM_CRYPTO is not set
CONFIG_LOADER_INI="RK3568MINIALL_NAND.ini"
# CONFIG_MTD_DEVICE is not set
# CONFIG_MTD is not set
# CONFIG_MTD_NAND_BBT_USING_FLASH is not set
# CONFIG_NAND is not set
CONFIG_RKNAND=y
# CONFIG_SPI_FLASH is not set
# CONFIG_SPI_MEM is not set
# CONFIG_SPL_DM_CRYPTO is not set
# CONFIG_SPL_MTD_SUPPORT is not set
# CONFIG_SPL_NAND_SUPPORT is not set
CONFIG_SPL_RKNAND_SUPPORT=y
# CONFIG_SPL_SPI_FLASH_SUPPORT is not set
# CONFIG_SPL_SPI_SUPPORT is not set
CONFIG_SPL_SYS_MALLOC_F_LEN=0x100000
CONFIG_SYS_MALLOC_F_LEN=0x100000
CONFIG_ZFTL=y
