CONFIG_BASE_DEFCONFIG="rv1126_defconfig"
# CONFIG_CMD_MTD_BLK is not set
# CONFIG_CMD_NAND is not set
# CONFIG_CMD_SF is not set
# CONFIG_CMD_SPI is not set
CONFIG_LOADER_INI="RV1126MINIALL_EMMC_TB.ini"
# CONFIG_MTD_DEVICE is not set
# CONFIG_MTD is not set
# CONFIG_MTD_NAND_BBT_USING_FLASH is not set
# CONFIG_NAND is not set
# CONFIG_ROCKCHIP_SFC is not set
# CONFIG_ROCKCHIP_UIMAGE is not set
# CONFIG_SPI_FLASH is not set
# CONFIG_SPI_MEM is not set
# CONFIG_SPL_AB is not set
CONFIG_SPL_ADC_KEY=y
CONFIG_SPL_ADC_SUPPORT=y
CONFIG_SPL_BLK_READ_PREPARE=y
# CONFIG_SPL_CROS_EC_KEYB is not set
CONFIG_SPL_INPUT=y
CONFIG_SPL_KERNEL_BOOT_SECTOR=0xa000
CONFIG_SPL_KERNEL_BOOT=y
# CONFIG_SPL_MTD_SUPPORT is not set
# CONFIG_SPL_NAND_SUPPORT is not set
# CONFIG_SPL_SPI_FLASH_SUPPORT is not set
# CONFIG_SPL_SPI_SUPPORT is not set
CONFIG_TRUST_INI="RV1126TOS_TB.ini"
