if TARGET_MESON_TXL

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "txl_p341_v1"

config SYS_VENDOR
	string
	default "amlogic"

config SYS_SOC
	string
	default "txl"

config SYS_CONFIG_NAME
	default "txl_p341_v1"

endif
