config DM_KEYBOARD
	bool "Enable driver model keyboard support"
	depends on DM
	help
	  This adds a uclass for keyboards and implements keyboard support
	  using driver model. The API is implemented by keyboard.h and
	  includes methods to start/stop the device, check for available
	  input and update LEDs if the keyboard has them.

config DM_KEY
	bool "Enable driver model key support"
	depends on DM
	help
	  This adds a simple uclass for key.

config DM_RC
	bool "Enable driver model Remote Controller support"
	depends on DM
	help
	  This adds a uclass for Remote Controllers. This is needed
	  in order to support standalone IR receivers.

config RK_IR
	bool "Enable rk ir support"
	depends on DM_RC
	select BITREVERSE
	help
	  This adds a driver for the rockchip IR controller.

config CROS_EC_KEYB
	bool "Enable Chrome OS EC keyboard support"
	help
	  Most ARM Chromebooks use an EC to provide access to the keyboard.
	  Messages are used to request key scans from the EC and these are
	  then decoded into keys by this driver.

config I8042_KEYB
	bool "Enable Intel i8042 keyboard support"
	depends on DM_KEYBOARD
	default X86
	help
	  This adds a driver for the i8042 keyboard controller, allowing the
	  keyboard to be used on devices which support this controller. The
	  driver handles English and German keyboards - set the environment
	  variable 'keymap' to "de" to select German. Keyboard repeat is
	  handled by the keyboard itself.

config RK8XX_PWRKEY
	bool "Enable RK805/816/817 pwrkey support"
	depends on DM_KEY && PMIC_RK8XX
	help
	  This adds a driver for the RK805/816/817 pwrkey support.

config ADC_KEY
	bool "Enable adc keys support"
	depends on DM_KEY
	help
	  This adds a driver for the adc keys support.

config GPIO_KEY
	bool "Enable gpio keys support"
	depends on DM_KEY
	help
	  This adds a driver for the gpio keys support.

config RK_KEY
	bool "Enable rk keys support"
	depends on DM_KEY
	help
	  This adds a driver for the rk keys support.
